small_files_orchestrator_v2.json
{
  "Comment": "Small files step function resolving prompt v2 requirements",
  "StartAt": "ConfigProvided?",
  "States": {
    "ConfigProvided?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.config_file_name",
          "IsPresent": true,
          "Next": "GetJobParameters"
        }
      ],
      "Default": "FindLatestConfig"
    },
    "FindLatestConfig": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
      "Parameters": {
        "Bucket.$": "$.config_bucket",
        "Prefix.$": "$.config_key"
      },
      "ResultPath": "$.ListResults",
      "Next": "GetLastConfigFile"
    },
    "GetLastConfigFile": {
      "Type": "Pass",
      "Parameters": {
        "config_file_name.$": "$.ListResults.Contents[-1:].Key"
      },
      "ResultPath": "$.config_key",
      "Next": "GetJobParameters"
    },
    "GetJobParameters": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket.$": "$.config_bucket",
        "Key.$": "$.config_key.config_file_name[0]"
      },
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Body)"
      },
      "ResultPath": "$.ConfigPayload",
      "Next": "CheckHasPartitions"
    },
    "CheckHasPartitions": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ConfigPayload.Payload.partition_count",
          "NumericGreaterThan": 0,
          "Next": "ProcessPartitions"
        }
      ],
      "Default": "NoPartitionsToProcess"
    },
    "NoPartitionsToProcess": {
      "Type": "Succeed"
    },
    "ProcessPartitions": {
      "Type": "Map",
      "ItemsPath": "$.ConfigPayload.Payload.partitions",
      "ItemSelector": {
        "partition.$": "$$.Map.Item.Value",
        "params.$": "$.ConfigPayload.Payload"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "RunResizeJob",
        "States": {
          "RunResizeJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "small_files_resize_job",
              "NumberOfWorkers.$": "$.partition.number_of_workers_partition_level",
              "WorkerType": "G.1X",
              "Arguments": {
                "--CONFIG_PAYLOAD.$": "States.JsonToString($)",
                "--HOURS_THRESHOLD": "0"
              }
            },
            "ResultPath": "$.ResizeJobResult",
            "Next": "Wait3HoursFirst"
          },
          "Wait3HoursFirst": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "ComparisonGlueJob"
          },
          "ComparisonGlueJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "small_files_comparison",
              "Arguments": {
                "--HOURS_THRESHOLD": "0",
                "--CONFIG_PAYLOAD.$": "States.JsonToString($)"
              }
            },
            "ResultPath": "$.ComparisonJobResult",
            "Next": "ChoiceComparisonResult"
          },
          "ChoiceComparisonResult": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ComparisonJobResult.JobRunState",
                "StringEquals": "SUCCEEDED",
                "Next": "ListOriginalObjects"
              }
            ],
            "Default": "RunResizeJob"
          },
          "ListOriginalObjects": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Next": "DeleteObjects",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "{% $states.input.params.bucket_name %}",
              "Prefix": "{% $states.input.partition.s3_path_prefix %}"
            },
            "Assign": {
              "ListResult": "{% $states.result %}"
            },
            "Output": "{% $states.input %}"
          },
          "DeleteObjects": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObjects",
            "Next": "InverseSwapJob",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "{% $states.input.params.bucket_name %}",
              "Delete": {
                "Objects": "{% [$ListResult.Contents.{\"Key\": Key}] %}"
              }
            },
            "Assign": {
              "DeleteResult": "{% $states.result %}"
            },
            "Output": "{% $merge([$states.input, {\"Deleted\": $states.result.Deleted}]) %}"
          },
          "InverseSwapJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Next": "Wait10Seconds",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "JobName": "small_files_inverse_swap_job",
              "Arguments": {
                "--CONFIG_PAYLOAD": "{% $string({\"database_name\": $states.input.params.database_name, \"table_name\": $states.input.params.table_name, \"bucket_name\": $states.input.params.bucket_name, \"partitions\": [$states.input.partition]}) %}"
              }
            },
            "Output": "{% $states.input %}"
          },
          "Wait10Seconds": {
            "Type": "Wait",
            "Seconds": 10,
            "Next": "ListStagingObjects"
          },
          "ListStagingObjects": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
            "Next": "DeleteStagingObjects",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "{% $states.input.params.bucket_name %}",
              "Prefix": "{% $states.input.partition.staging_s3_path_prefix %}"
            },
            "Assign": {
              "ListStagingResult": "{% $states.result %}"
            },
            "Output": "{% $states.input %}"
          },
          "DeleteStagingObjects": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:s3:deleteObjects",
            "Next": "PartitionDone",
            "QueryLanguage": "JSONata",
            "Arguments": {
              "Bucket": "{% $states.input.params.bucket_name %}",
              "Delete": {
                "Objects": "{% [$ListStagingResult.Contents.{\"Key\": Key}] %}"
              }
            },
            "Assign": {
              "DeleteStagingResult": "{% $states.result %}"
            },
            "Output": "{% $merge([$states.input, {\"DeletedStaging\": $states.result.Deleted}]) %}"
          },
          "PartitionDone": {
            "Type": "Succeed"
          }
        }
      },
      "End": true,
      "MaxConcurrency": 1
    }
  }
}